/_doc
/_html
.idea

nbproject

/assets/*

!/assets/backend
!/assets/common
!/assets/frontend

_db

.buildpath

.project

.settings

Thumbs.db

/tests

/vendor

composer.phar

# Mac DS_Store Files
.DS_Store

phpunit.phar

/phpunit.xml

tests/_output/*

tests/_support/_generated

composer.lock

yii.bat