@import 'all-mixing.scss';
.total-tab-sec{
    padding: 50px 0px 150px 0px;
    .top-area{
        .media{
            .media-left{

            }
            .media-body{
                vertical-align: middle;
            }
        }

        .prof-nav {
            padding-right:0px;
            .nav-tabs {
                border-bottom: 0px;
                background: #fff;
                display: flex;
                width: auto;
                padding-top: 25px;
                >li {
                    float: left;
                    margin-bottom: -1px;
                    flex: 1 1 auto;
                    font-size: 18px;
                    font-weight: 400;
                    display: block;
                    position: relative;
                    border: 1px solid #f2f2f2;
                    &.active a{
                        color: #47c1c1 ; 
                        cursor: pointer;
                    }

                }
            }
            .nav {
                >li {

                    >a {
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        line-height: 40px;
                        display: block;
                        border: none;
                        &:hover{
                            color: #47c1c1 ;
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }
        }


    }
}
.account-11{
    font-family: Quicksand,sans-serif;


    .btm-area{
        border: 1px solid #f2f2f2;
        padding:30px 0px;
        font-family: 'Open Sans', sans-serif;
        .cmn-upper-pad{
               padding-bottom: 50px;
            h1{
                font-size: 18px;
                font-weight: 400;
                color:#808080;
                padding-bottom: 20px;
            }
            p{
                color: #808080;
                font-size: 16px;
            }
            .form{
                .form-group{
                    .control-label{
                        font-weight: 600;
                        text-align: left;
                        font-size: 16px;
                        color: #808080;
                    }
                    .form-control{
                        border: 2px solid rgba(89, 90, 90, 0.13);
                        height: 35px;
                        border-radius: 0;
                        font-size: 16px;
                        color: #808080;
                        background-color: #fff;
                        box-shadow: none;
                    }
                    textarea{
                        height: 200px !important;
                    }
                    .btn-rap{
                        .btn{
                            background-color: #47c1c1 ;
                            color: #fff;
                            border-radius: 0px;
                            padding: 5px 100px;
                            &:hover{
                                background-color: #333;
                                color: #fff;
                                border-redious:0px;
                            }
                        }
                    }

                    h1{
                        font-weight: 600;
                        text-align: left;
                        font-size: 16px;
                        color: #808080;
                        padding-bottom:10px;
                        i{
                            color: #47c1c1 ;
                            font-size: 23px;
                            padding-left: 10px;
                        }
                    }
                    p{
                        font-weight: 400;
                        text-align: left;
                        font-size: 16px;
                        color: #a8a8a8;
                    }

                    .spinner-q{

                        .spinner {
                            width: 100%;
                        }
                        .spinner input {
                            text-align: left;
                            border-right: none;
                            border: 1px solid #ccc;
                            border-right: none;
                            border-radius: 0px;
                        }
                        .input-group-btn-vertical {
                            position: relative;
                            white-space: nowrap;
                            width: 1%;
                            vertical-align: middle;
                            display: table-cell;
                        }
                        .input-group-btn-vertical > .btn {
                            display: block;
                            float: none;
                            width: 100%;
                            max-width: 100%;
                            padding: 8px;
                            margin-left: -1px;
                            position: relative;
                            border-radius: 0;
                        }
                        .input-group-btn-vertical > .btn:first-child {
                            border-top-right-radius: 0px;
                            border-bottom-color: #fff;
                        }
                        .input-group-btn-vertical > .btn:last-child {
                            margin-top: 0px;
                            border-bottom-right-radius: 0;
                            border-top-color: #fff;
                            margin-bottom: 0px;
                            padding-bottom: 7px;
                        }
                        .input-group-btn-vertical i{
                            position: absolute;
                            top: 0;
                            left: 4px;
                        }
                    }
                    .custom-file-upload {
                        display: inline-block;
                        cursor: pointer;      
                        background-color:#fff;
                        font-weight: 600;
                        text-align: left;
                        font-size: 16px;
                        color: #808080;
                        padding-bottom:10px;
                        i{
                            color: #47c1c1 ;
                            font-size: 23px;
                            padding-left: 10px;
                        }

                    }
                    input[type="file"] {
                        display: none;
                    }

                }
            }

            .btm-txt-area{
                text-align: center;
                padding-top: 30px;
                p{
                    font-size:15px;
                    color:#808080;
                    margin-bottom:0px;
                    font-weight: 400;
                    a{
                        color: #47c1c1 ; 
                        &:hover{
                            color:#808080;
                        }
                    }
                }
            }
        }
    }

    .foot-part{
        padding: 15px;
        p{
            font-family: Quicksand,sans-serif;
            color: #a8a8a8;
            font-style: italic;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            a{
                color: #47c1c1 ;  
            }
        }
    }




    .btn.btn-play {
        padding: 9px 45px;
        text-transform: uppercase;
        background: #F5210A;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        @include transition(all 500ms ease-in-out);
        outline:none;
        @include border-radius(0);
        &:hover{
            color: #F5210A;
            background-color:#fff ;

        }
    }
    .btn.btn-know {
        padding: 16px 15px;
        text-transform: uppercase;
        background: #F80000;
        color: #fff;
        font-size: 20px;
        text-align: center;
        @include transition(all 500ms ease-in-out);
        outline:none;
        @include border-radius(0);
        &:hover{
            color: #F80000;
            background-color:#fff ;

        }
    }

    .btn.btn-contact {
        background-color: #FF6600;
        color: #fff !important;
        padding: 7px 15px;
        font-size: 16px;
        @include transition(all 500ms ease-in-out);
        outline:none;
        &:hover{
            color: #fff;
            background-color:#15964B ;

        }
    }
    .btn.btn-sign-up {
        background-color: #BF1E2E;
        border: 1px solid #BF1E2E;
        color: #fff !important;
        padding: 10px 8px;
        font-size: 16px;
        font-weight: 600;
        @include transition(all 500ms ease-in-out);
        outline:none;
        @include border-radius(0);
        &:hover{
            color: #F80000 !important;
            background-color:#fff ;
            border: 1px solid #F80000;

        }
    }
    .outher-btn {
        width: 100%;
        height: 35px;
        color: #fff;
        margin: 0 ;
        border: 0px;
        background: #666;
        border: 1px solid #666;
        @include transition(all 500ms ease-in-out);
        outline:none;
        @include border-radius(0);
        &:hover{
            color: #fff !important;
            background-color:#a60000 ;
            border: 1px solid #a60000;

        }
    }
}

.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0px;
    padding-left: 0px;
    color: #808080;
}


.checkbox-inline{
    margin-bottom:1px;
    color: #808080;
    label{
        font-size: 15px;
        color: #808080;
        &:first-child{
            padding-left: 0px;
            padding-right: 20px;
        }
    }
    &:first-child{
        margin-right: 0px;
        padding-left: 0px;
    }
}

.radio-inline{
    margin-bottom:1px;
    label{
        font-size: 15px;
        color: #666;
    }
    &:first-child{
        margin-right: 10px;
    }
}