@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1023px) and (min-width:800px){
.call-us ul li p{
font-size:13px;}
.call-us ul li h2{
font-size:25px;}

.nav-left{
width:43%;}
.nav-right{
width:57%;}
.membership{
height:900px;}

.works-list ul li h2{
font-size:13px;
font-weight:600;
}

.map-bottom-list ul li{
	font-size: 14px;
    padding: 40px 16px 0;}
.trial h2 span{
font-size:20px;}

.bs-form .form-inline .form-group {
    margin-bottom: 30px;
    margin-right: 26px;
}
.bs-form .form-inline .form-group:nth-child(2){
margin-right:0px;}
} 
@media screen and (max-width:799px) and (min-width:600px){
.navigation .nav-left{
width:38%;}
.header.header-part1.affix .logo-image img {
    max-width: 100% !important;
}
.navigation .nav-left {
    width: 28%;
}
.navigation .nav-right {
    width: 72%;
}
.navigation .nav-right{
width:72%;}
.call-us ul li h2{}
.call-us ul li{
font-size:12px;}
.header-top .call-us ul li h2{
	font-size: 21px;
    margin: 9px 0 0 9px;}
.content-heading h2{
margin-top:22px;}
.map-bottom-list ul li {
    font-size: 11px;
    padding: 40px 6px 0;
}
.logo-image{
z-index:1;}
.nav-left{
  width: 28%;}
.nav-right{
  width:72%;}

.bs-form .form-inline .form-group{
margin-right:18px;}
.nav-right ul li a{
font-size:16px;}

.carousel-caption h2{
	font-size: 50px;
    line-height: 55px;
}
.know{
padding:11px 14px;}

.works-text{
text-align:center;}
.works-list ul{
padding:0px;
margin:0px;}
.works-list ul li{
text-align:center;}

.works-list.list2 ul li{
text-align:center;}
.know-more1{
margin-bottom:40px;}
.membership{
height:2500px;}
.bs-form .form-inline .form-group {
    margin-bottom: 30px;
    margin-right: 26px;
}
.bs-form .form-inline .form-group:nth-child(2){
margin-right:0px;}
.clients{
height:620px;}

.inner-heading p {
    font-size: 14px;
    width: 550px;
}
.content-heading {
    padding-top: 70px;
}
}
@media screen and (max-width:599px) and (min-width:480px){
.navigation .nav-right.nav-bottom{
bottom:0;}
.navigation .nav-left{
width:38%;}
.header.header-part1.affix .logo-image img {
    max-width: 100%;
}
.navigation .nav-left {
    width: 28%;
}
.navigation .nav-right {
    width: 72%;
}
.navigation .nav-right{
width:62%;}
.content-heading {
    padding-top: 40px;
}
.call-us ul li{
font-size:12px;}
.header-top .call-us ul li h2{
	font-size: 18px;
    margin: 9px 0 0 9px;}
.content-heading {
    margin-top: 40px;
    padding-top: 40px;
}
.nav-left{
  width: 28%;}
.nav-right{
  width:72%;}

.nav-right ul li a{
font-size:16px;}

.carousel-caption h2{
	font-size: 50px;
    line-height: 55px;
}
.know{
padding:11px 14px;}

.works-text{
text-align:center;}
.works-list ul{
padding:0px;
margin:0px;}
.works-list ul li{
text-align:center;}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a{
font-size:14px;}
.works-list.list2 ul li{
text-align:center;}
.know-more1{
margin-bottom:40px;}
.membership{
height:2500px;}
.carousel-caption{
left:0px !important;
width:97%;}
.clients{
height:620px;}
.nav-left{
display:none;}
.content-heading {
    padding-top: 70px;
}
.navigation .nav-right {
    margin-top: 50px;
    width: 100%;
}
.header.header-part1.affix .logo-image img {
    max-width: 72% !important;
}
.header.header-part1.affix .call-us {
    margin-bottom: 19px !important;
}
.affix{
top:0;}
.header-top .navigation{
bottom: -42px;}
.content-heading h2{
font-size:30px;}
.content-heading{
padding-top:40px;}
.navigation{
bottom:-52px;}
.membership {
    height: 2450px;
}

.content-heading h2{}
.content-heading h2{
    margin-top: 66px;
    padding-top: 40px;
}
.subcribe-button{
margin-top:20px;}
.map-bottom-list ul li{
	font-size: 12px;
    padding: 0;}
.inner-heading p {
    font-size: 14px;
    width: 400px;
}
.inner-heading p{
width:100% !important;}
.map-bottom-list ul li:first-child{
border:none !important;}
.inner-content .map-bottom-list ul li{
border:none;}
.inner-content .map-bottom-list ul li:last-child{
border:none;}
.inner-content .map-bottom-list ul li{
float:none;}
}

@media screen and (max-width:479px) and (min-width:320px){
.navigation .nav-right.nav-bottom{
bottom:0;}
.navigation .nav-right ul li {
    padding: 0 8x !important;
}
.carousel-caption h2 {
    font-size: 28px !important;
    line-height: 44px;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a{
padding: 22px 40px;
}
.inner-content .clients{
height:1000px;}
.bs-form .form-inline .form-group .form-control{
width: 100% !important;}
.header.header-part1.affix .logo-image img {
    max-width: 72% !important;
}
.email-address .address-field{
width:100%;}
.inner-content .inner-heading p{
width:100%;}
.header.header-part1.affix .call-us {
    margin-bottom: 19px !important;
}
.call-us ul li h2{
font-size: 18px !important;
    margin: 9px 0 0 4px !important;}
.navigation .nav-right{
bottom: -36px;
margin-top: 92px;
    overflow: hidden;
    position: relative;
    width: 100%;}
.nav-right ul li a{
font-size:12px !important;}

.navigation .nav-right ul li{
padding:0 8px;}

.header.header-part1.affix .logo-image img {
    max-width: 24% !important;
}
.affix{
top:0;}
.inner-content{
margin-top:50px;}
content-heading{
margin:0px;}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a{
font-size:14px;}
.header-top .col-xs-9{
width:100%;
text-align:center;}
.header-top .col-xs-3{
width:100%;
text-align:center;}
.call-us ul li{
font-size:12px;}
.call-us ul li h2{
	font-size: 18px;
    margin: 9px 0 0 9px;}

.nav-left{
  width: 28%;}
.nav-right{
  width:72%;}

.nav-right ul li a{
font-size:16px;}
.content-heading {
    padding-top: 70px;
}
.carousel-caption h2 {
    font-size: 38px;
    line-height: 44px;
}
.know{
padding:11px 14px;}

.works-text{
text-align:center;}
.works-list ul{
padding:0px;
margin:0px;}
.works-list ul li{
text-align:center;}

.works-list.list2 ul li{
text-align:center;}
.know-more1{
margin-bottom:40px;}
.membership{
height:2500px;}
.carousel-caption{
left:0px !important;
width:97%;}
.clients{
height:1000px;}
.nav-left{
display:none;}
.call-us{
float:none;
margin-bottom:20px;
text-align:center;}
.nav-right {
    margin-top: 50px;
    width: 100%;
}
.map-bottom-list ul li{
	font-size: 12px;
    padding: 20px 16px 0;}
.inner-content .app{
height:290px;
margin-top:24px;
padding:0px;}
.content-heading h2{
font-size:30px;}
.content-heading{
padding-top:40px;}
.navigation{
bottom:-52px;}
.membership {
    height: 2450px;
}
.nav-right ul li a {
    font-size: 12px;
}

.inner-heading p {
    font-size: 14px;
    width: 250px;
	tell
}
.nav-right ul li {
    border-right: 2px solid #535353;
    float: left;
    padding: 0 10px;
}
.map-b

.ottom-list ul li{
float:none;
height:auto;
azimuth:0px;
border:0px;}
.nav-right{
height:53px;}
.form-inline .form-group .form-control{
 width: 284px !important;}
.address-field{
width:220px;}
.form-inline .form-group .form-control{
width:290px;}
.subcribe-button{
margin-top:20px;}}

@media screen and (max-width:319px) and (min-width:250px){
.header-top .col-xs-9{
width:100%;
text-align:center;}
.header-top .col-xs-3{
width:100%;
text-align:center;}
.call-us ul li{
font-size:12px;}
.call-us ul li h2{
	font-size: 18px;
    margin: 9px 0 0 9px;}
.app ul li{
display:block;
margin-bottom:20px;}
.nav-left{
  width: 28%;}
.nav-right{
  width:72%;}
 .content-heading {
    padding-top: 70px;
}
.map-bottom-list ul li:first-child{
    border-left:0px solid #ccc;
}
.map-bottom-list ul li:last-child{
border-right:0px;}
.nav-right ul li a{
font-size:16px;}

.carousel-caption h2 {
    font-size: 32px;
    line-height: 44px;
}
.know{
padding:11px 14px;}

.works-text{
text-align:center;}
.works-list ul{
padding:0px;
margin:0px;}
.works-list ul li{
text-align:center;}

.works-list.list2 ul li{
text-align:center;}
.know-more1{
margin-bottom:40px;}
.membership{
height:2550px;}
.carousel-caption{
left:0px !important;
width:97%;}
.clients {
    height: 1000px;
}
.nav-right ul li{}
.address-field{
width:224px;}
.nav-left{
display:none;}
.call-us{
float:none;
margin-bottom:20px;
text-align:center;}
.nav-right {
    margin-top: 50px;
    width: 100%;
}
.nav-right ul li{
padding:0 15px;}
.app{
height:320px;}
.content-heading h2{
font-size:30px;}
.content-heading{
padding-top:40px;}
.navigation{
bottom:-52px;}
.membership {
    height: 2450px;
}
.nav-right ul li a {
    font-size: 12px;
}
.subcribe-button{
margin-top:20px;}}