.page-logo a span {
    font-size: 25px;
    color: #fff;
}
.page-logo a:hover {
    text-decoration: none;
    color: #fff;
}
.page-content ul.breadcrumb {
    background-color: #fff;
}

.form .form-row-seperated .form-group .form-group {
    border-bottom: none;
}

img.drivingimage {
    height: 150px;
    width: 100%;
}

.vehicel-color-span{
    padding: 0px 10px;
    border-radius: 2px;
    margin: -5px;
}

.modal .modal-header .modal-title{
    text-align: center;
    font-weight: 600;
    color: #FFF;
}
.modal .modal-header{background-color: #e7505a;}
.btn span.glyphicon {
    opacity: 100 !important;
   
}
    .main_contact_div .row{
        margin-bottom: 5px;
    }
    .btn span.glyphicon {    			
        opacity: 0;				
    }
    .btn.active span.glyphicon {				
        opacity: 1;				
    }
    .radio-inline label{
        margin-right:30px;
    }
    .time .row{
        margin-bottom: 2px;
    }
	    .radio-inline label{
        margin-right:30px;
    }
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }
    #target {
        width: 345px;
    }